body {
  font-family: "Lato", sans-serif;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}

.vl {
  border-left: 6px solid green;
  height: 50px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 20px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: blueviolet;
  color: whitesmoke;
}
.sidebar r {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* .sidebar td:hover {
  color: #f1f1f1;
  cursor: pointer;
} */
.highlight {
  display: inline;
  background-color: transparent;
}
.highlight2 {
  display: inline;
  background-color: lightgreen;
}

.nohighlight {
  display: inline;
  background-color: transparent;
}

.high:hover {
  cursor: pointer;
  background-color: lightblue;
}
.hypen {
  background-color: lightblue;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
.closebtn {
  cursor: pointer;
  color: black;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: gray;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
div {
  margin-bottom: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
